/* ////////////////////////////////// */
/* IMPORTED FONTS */
/* ////////////////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ////////////////////////////////// */
/* RESET CSS */
/* ////////////////////////////////// */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* ////////////////////////////////// */
/* COLORS */
/* ////////////////////////////////// */

.bgBeige {
    background-color: #F4F0EC;
}

/* ////////////////////////////////// */
/* FLEX BOX */
/* ////////////////////////////////// */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center;
}

.justifyStart {
    justify-content: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignStart {
    align-items: flex-start;
}

.flexColumn {
    flex-direction: column;
}

/* ////////////////////////////////// */
/* CONTAINER */
/* ////////////////////////////////// */

.container {
    max-width: 1200px;
    margin: auto;
}

.fitCover {
    object-fit: cover;
}

.inlineBlock {
    display: inline-block;
}

/* ////////////////////////////////// */
/* BORDER RADIUS */
/* ////////////////////////////////// */

.radius10 {
    border-radius: 10px;
}

.radius15 {
    border-radius: 15px;
}

.radius20 {
    border-radius: 20px;
}

.radius50 {
    border-radius: 50px;
}

.radius100 {
    border-radius: 100px;
}

/* ////////////////////////////////// */
/* GAP */
/* ////////////////////////////////// */

.gap20 {
    gap: 20px;
}

.gap35 {
    gap: 35px;
}

.gap50 {
    gap: 50px;
}

.gap100 {
    gap: 100px;
}

/* ////////////////////////////////// */
/* MARGIN */
/* ////////////////////////////////// */

.mtop20 {
    margin-top: 20px;
}

.mtop40 {
    margin-top: 40px;
}

.mtop100 {
    margin-top: 100px;
}

.mbottom5 {
    margin-bottom: 5px;
}

.mbottom10 {
    margin-bottom: 10px;
}

.mbottom20 {
    margin-bottom: 20px;
}

.mbottom30 {
    margin-bottom: 30px;
}

.mbottom100 {
    margin-bottom: 100px;
}

.mright10 {
    margin-right: 10px;
}

.margin120 {
    margin: 120px;
}

.margintb40 {
    margin: 40px 0;
}

.margintb120 {
    margin: 120px 0;
}

.marginrl40 {
    margin: 0 40px;
}

/* ////////////////////////////////// */
/* PADDING */
/* ////////////////////////////////// */

.padding30 {
    padding: 30px;
}

.paddingtb30 {
    padding: 30px 0;
}

.paddingtb40 {
    padding: 40px 0;
}

.paddingtb90 {
    padding: 90px 0;
}

/* ////////////////////////////////// */
/* WIDTH */
/* ////////////////////////////////// */

.width25 {
    width: 25%;
}

.width26 {
    width: 26%;
}

.width47 {
    width: 47%;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

/* ////////////////////////////////// */
/* HEIGHT */
/* ////////////////////////////////// */

.height100 {
    height: 100%;
}

/* ////////////////////////////////// */
/* FONT */
/* ////////////////////////////////// */

/* FONT FAMILY */

.fontJost {
    font-family: 'Jost', sans-serif;
}

.fontDMSerifDisplay {
    font-family: 'DM Serif Display', sans-serif;
}

/* FONT SIZE */

.size18 {
    font-size: 18px;
}

.size20 {
    font-size: 20px;
}

.size40 {
    font-size: 40px;
}

.size65 {
    font-size: 65px;
}

/* FONT WEIGHT */

.weight400 {
    font-weight: 400;
}

.weight500 {
    font-weight: 500;
}

.weight600 {
    font-weight: 600;
}

.weight700 {
    font-weight: 700;
}

/* CENTER */

.textCenter {
    text-align: center;
}

/* ////////////////////////////////// */
/* HEADER */
/* ////////////////////////////////// */

.headerContainer {
    background-color: white;
    position: fixed;
}

.logoLink img {
    width: 140px;
}

.navItem {
    list-style: none;
}

.navLink {
    color: black;
}

/* ////////////////////////////////// */
/* SECTION HERO */
/* ////////////////////////////////// */

.hero {
    height: 100vh;
    background-image: url("assets/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 150px;
}

.onlyBtn {
    color: white;
    background-color: black;
    padding: 23px 18px;
}

.onlyBtn span {
    color: #CDA274;
}

/* ////////////////////////////////// */
/* SECTION ABOUT US */
/* ////////////////////////////////// */

.aboutUs {
    height: 80vh;
}

.aboutUsImg {
    border-radius: 0 300px 0 100px;
}

.aboutUsContainer h2 {
    color: #292F36;
}

.aboutUsParagraph {
    color: #4D5053;
}

.phoneNumberImage {
    width: 65px;
    height: 65px;
}

.phoneNumberContainer img {
    width: 25px;
    height: 25px;
}

.onlyBtn {
    color: white;
    background-color: black;
    padding: 23px 18px;
}

.onlyBtn span {
    color: #CDA274;
}

/* ////////////////////////////////// */
/* SECTION TESTIMONIAL */
/* ////////////////////////////////// */

.testimonial {
    height: 80vh;
}

.testimonial h2 {
    color: #292F36;
}

.testimonialContent {
    background-color: #fff;
}

/* ////////////////////////////////// */
/* SECTION CLIENT LOGO */
/* ////////////////////////////////// */

.clientLogo {
    height: 40vh;
}

.clientLogoContainer img {
    width: 110px;
}


/* ////////////////////////////////// */
/* SECTION PROJECT */
/* ////////////////////////////////// */

.projectImage {
    height: 500px;
}

#projectImage1 {
    border-top-right-radius: 50px;
}

#projectImage2 {
    border-top-left-radius: 50px;
}

#projectImage3 {
    border-bottom-right-radius: 50px;
}

#projectImage4 {
    border-bottom-left-radius: 50px;
}

.projectLink {
    height: 50px;
    width: 50px;
}

.projectLink img {
    width: 20px;
    height: 20px;
}

/* ////////////////////////////////// */
/* SECTION CONTACT */
/* ////////////////////////////////// */

.contact {
    background-color: black;
    color: white;
    height: 40vh;
}

.contact h2 {
    color: white;
}

.contact p {
    margin: 15px 0 25px 0;
}

.contactText {
    padding: 10px 20px;
    width: 550px;
}

.contactText::placeholder {
    color: #D2D2D2;
    font-family: 'Jost', sans-serif;
}

/* ////////////////////////////////// */
/* FOOTER */
/* ////////////////////////////////// */

.copyright {
    border-top: 1px solid #E5E5E5;
}


/* ////////////////////////////////// */
/* RESPONSIVE */
/* ////////////////////////////////// */

/*@media (max-width: 599px)*/

@media (min-width: 600px) and (max-width: 800px) {
    .container {
        max-width: 500px;
    }

    .onlyBtn {
        padding: 10px 7px;
        font-weight: 400;
    }

    .logoLink img {
        width: 75px;
    }

    /* TEXT SIZE */
    .title1 {
        font-size: 2.4rem;
    }

    .title2 {
        font-size: 1.8rem;
    }

    .title3 {
        font-size: 1rem;
    }

    .title4 {
        font-size: 0.8rem;
    }

    .paragraph,
    .onlyBtn,
    .navLink {
        font-size: 0.8rem;
    }

    /* HEADER */
    .headerContainer {
        padding: 15px 0;
    }

    /* HERO */
    .hero {
        height: 100vh;
        min-height: 450px;
    }

    /* WORK */
    .work {
        margin: 50px 0;
    }

    .workContainer {
        flex-direction: column;
        align-items: center;
    }

    .workContent {
        width: 50%;
    }

    /* ABOUT US */
    .aboutUs {
        height: 50vh;
        min-height: 400px;
        justify-content: center;
        margin-bottom: 50px;
    }

    .aboutUsImg {
        display: none;
    }

    .phoneNumberImage {
        width: 43px;
        height: 43px;
    }

    .phoneNumberContainer img {
        width: 15px;
        height: 15px;
    }

    /* TESTIMONIAL */
    .testimonial {
        height: 120vh;
        min-height: 700px;
    }

    .testimonialDiv h2 {
        margin-top: 20px;
    }

    .testimonialCards {
        flex-direction: column;
        align-items: center;
    }

    .testimonialContent {
        width: 50%;
        padding: 15px;
        margin-bottom: 30px;
    }

    .testimonialPhoto {
        width: 50px;
        height: 50px;
    }

    /* CLIENT LOGO */
    .clientLogo {
        height: 70vh;
        min-height: 400px;
    }

    .clientLogoContainer {
        flex-direction: column;
        gap: 50px 0;
        margin-top: 40px;
    }

    .clientLogoContainer img {
        width: 70px;
    }

    /* PROJECT */
    .project {
        margin-top: 30px;
    }

    .projectContainer {
        margin-top: 30px;
        justify-content: center;
    }

    .projectChild {
        margin-bottom: 30px;
    }

    .projectImage {
        height: 290px;
    }

    /* CONTACT */
    .contact {
        height: 35vh;
        min-height: 220px;
    }

    /* FOOTER */
    .footerContainer {
        padding: 25px 0;
    }

    .socialContainer {
        gap: 35px;
    }

    .footerLeft p {
        margin-bottom: 15px;
    }

    .logoFooter {
        margin-bottom: 15px;
    }

    .footerRight h3 {
        margin-bottom: 15px;
    }

    .footerRight p {
        margin-bottom: 15px;
    }

    .copyright {
        padding: 25px 0;
    }
}

@media (min-width: 800px) and (max-width: 900px) {

    /* ---GENERAL--- */
    .container {
        max-width: 650px;
    }

    .onlyBtn {
        padding: 12px 9px;
        font-weight: 400;
    }

    .logoLink img {
        width: 80px;
    }

    /* TEXT SIZE */
    .title1 {
        font-size: 2.7rem;
    }

    .title2 {
        font-size: 2.1rem;
    }

    .title3 {
        font-size: 1.1rem;
    }

    .title4 {
        font-size: 1rem;
    }

    .paragraph,
    .onlyBtn,
    .navLink {
        font-size: 0.9rem;
    }

    /* HEADER */
    .headerContainer {
        padding: 20px 0;
    }

    /* HERO */
    .hero {
        height: 100vh;
        min-height: 450px;
    }

    /* WORK */
    .work {
        margin: 50px 0;
    }

    /* ABOUT US */
    .aboutUs {
        height: 50vh;
        min-height: 400px;
    }

    .phoneNumberImage {
        width: 47px;
        height: 47px;
    }

    .phoneNumberContainer img {
        width: 17px;
        height: 17px;
    }

    /* TESTIMONIAL */
    .testimonial {
        height: 50vh;
        min-height: 400px;
    }

    .testimonialContent {
        width: 31%;
        padding: 15px;
    }

    .testimonialPhoto {
        width: 50px;
        height: 50px;
    }

    /* CLIENT LOGO */
    .clientLogo {
        height: 20vh;
        min-height: 120px;
    }

    .clientLogoContainer img {
        width: 50px;
    }

    /* PROJECT */
    .projectContainer {
        margin-top: 30px;
    }

    .projectLink {
        height: 45px;
        width: 45px;
    }

    .projectLink img {
        width: 19px;
        height: 19px;
    }

    /* CONTACT */
    .contact {
        height: 35vh;
        min-height: 220px;
    }

    /* FOOTER */
    .footerContainer {
        padding: 25px 0;
    }

    .socialContainer {
        gap: 35px;
    }

    .footerLeft p {
        margin-bottom: 15px;
    }

    .logoFooter {
        margin-bottom: 15px;
    }

    .footerRight h3 {
        margin-bottom: 15px;
    }

    .footerRight p {
        margin-bottom: 15px;
    }

    .copyright {
        padding: 25px 0;
    }
}

@media (min-width: 900px) and (max-width: 999px) {

    /* ---GENERAL--- */
    .container {
        max-width: 800px;
    }

    .onlyBtn {
        padding: 15px 12px;
    }

    .logoLink img {
        width: 110px;
    }

    /* TEXT SIZE */
    .title1 {
        font-size: 3.3rem;
    }

    .title2 {
        font-size: 2.5rem;
    }

    .title3 {
        font-size: 1.3rem;
    }

    .title4 {
        font-size: 1.2rem;
    }

    .paragraph,
    .onlyBtn,
    .navLink {
        font-size: 1rem;
    }

    /* HEADER */
    .headerContainer {
        padding: 25px 0;
    }

    /* HERO */
    .hero {
        height: 100vh;
        min-height: 500px;
    }

    /* WORK */
    .work {
        margin: 60px 0;
    }

    /* ABOUT US */
    .aboutUs {
        height: 50vh;
        min-height: 460px;
    }

    .phoneNumberImage {
        width: 52px;
        height: 52px;
    }

    .phoneNumberContainer img {
        width: 20px;
        height: 20px;
    }

    /* TESTIMONIAL */
    .testimonial {
        height: 50vh;
        min-height: 450px;
    }

    .testimonialContent {
        width: 31%;
        padding: 20px;
    }

    .testimonialPhoto {
        width: 60px;
        height: 60px;
    }

    /* CLIENT LOGO */
    .clientLogo {
        height: 20vh;
        min-height: 140px;
    }

    .clientLogoContainer img {
        width: 65px;
    }

    /* PROJECT */
    .projectContainer {
        margin-top: 40px;
    }

    .projectChild {
        margin-bottom: 40px;
    }

    .projectImage {
        height: 360px;
    }

    .projectLink {
        height: 50px;
        width: 50px;
    }

    .projectLink img {
        width: 22px;
        height: 22px;
    }

    /* CONTACT */
    .contact {
        height: 35vh;
        min-height: 250px;
    }

    /* FOOTER */
    .footerContainer {
        padding: 35px 0;
    }

    .socialContainer {
        gap: 40px;
    }

    .footerLeft p {
        margin-bottom: 20px;
    }

    .footerRight h3 {
        margin-bottom: 20px;
    }

    .footerRight p {
        margin-bottom: 20px;
    }

    .copyright {
        padding: 30px 0;
    }
}

@media (min-width: 1000px) and (max-width: 1149px) {

    /* ---GENERAL--- */
    .container {
        max-width: 900px;
    }

    .onlyBtn {
        padding: 18px 15px;
    }

    .logoLink img {
        width: 120px;
    }

    /* TEXT SIZE */
    .title1 {
        font-size: 3.7rem;
    }

    .title2 {
        font-size: 2.8rem;
    }

    .title3 {
        font-size: 1.4rem;
    }

    .title4 {
        font-size: 1.3rem;
    }

    .paragraph,
    .onlyBtn,
    .navLink {
        font-size: 1.1rem;
    }

    /* HEADER */
    .headerContainer {
        padding: 25px 0;
    }

    /* HERO */
    .hero {
        height: 100vh;
        min-height: 600px;
    }

    /* ABOUT US */
    .aboutUs {
        height: 70vh;
        min-height: 550px;
    }

    .phoneNumberImage {
        width: 55px;
        height: 55px;
    }

    .phoneNumberContainer img {
        width: 22px;
        height: 22px;
    }

    /* TESTIMONIAL */
    .testimonial {
        height: 70vh;
        min-height: 450px;
    }

    .testimonialContent {
        width: 31%;
    }

    /* PROJECT */
    .projectContainer {
        margin-top: 50px;
    }

    .projectChild {
        margin-bottom: 50px;
    }

    .projectImage {
        height: 400px;
    }

    .projectLink {
        height: 55px;
        width: 55px;
    }

    .projectLink img {
        width: 23px;
        height: 23px;
    }

    /* CLIENT LOGO */
    .clientLogo {
        height: 30vh;
        min-height: 200px;
    }

    .clientLogoContainer img {
        width: 80px;
    }

    /* CONTACT */
    .contact {
        height: 40vh;
        min-height: 250px;
    }

    /* FOOTER */
    .footerContainer {
        padding: 40px 0;
    }

    .copyright {
        padding: 30px 0;
    }
}

@media (min-width: 1150px) and (max-width: 1349px) {

    /* ---GENERAL--- */
    .container {
        max-width: 1000px;
    }

    /* TEXT SIZE */
    .title1 {
        font-size: 4rem;
    }

    .title2 {
        font-size: 3rem;
    }

    .title3 {
        font-size: 1.5rem;
    }

    .title4 {
        font-size: 1.4rem;
    }

    .paragraph,
    .onlyBtn,
    .navLink {
        font-size: 1.2rem;
    }

    /* TESTIMONIAL */
    .testimonial {
        height: 70vh;
    }

    .testimonialContent {
        width: 30%;
    }

    /* PROJECT */
    .projectImage {
        height: 450px;
    }

    .projectLink {
        height: 65px;
        width: 65px;
    }

    .projectLink img {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1350px) and (max-width: 1599px) {
    .container {
        max-width: 1200px;
    }

    /* TEXT SIZE */
    .title1 {
        font-size: 5rem;
    }

    .title2 {
        font-size: 3.5rem;
    }

    .title3 {
        font-size: 1.7rem;
    }

    .title4 {
        font-size: 1.5rem;
    }

    .paragraph,
    .onlyBtn,
    .navLink {
        font-size: 1.3rem;
    }

    /* TESTIMONIAL */
    .testimonial {
        height: 70vh;
    }

    .testimonialContent {
        width: 28%;
    }

    /* PROJECT */
    .projectImage {
        height: 520px;
    }

    .projectLink {
        height: 65px;
        width: 65px;
    }

    .projectLink img {
        width: 30px;
        height: 30px;
    }
}
